/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.map {
  position: relative;
  top: 52px;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%  !important;
}

html {
  font-family: sans-serif;
}

.header-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

div.ol-full-screen {
  top: 1em !important;
}

.ol-mouse-position {
  top: 15px;
  right: 58px;
  position: absolute;
  color: white;
  z-index: 10000;
}

.actions {
  position: absolute;
  top: 95px;
  left: 10px;
  z-index: 10000;
}

.rotate-north {
  top: 65px;
  left: .5em;
}

.ol-touch .rotate-north {
  top: 80px;
}

.leftpanel-scrolling-content {
  position: relative;
  top: 68px;
  width: 200px;
  padding: 4px;
}

.slide-icon {
  position: relative;
  top: 6px;
  padding: 0 10px;
}

.layer-selected {
  color: darkorchid;
}