/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
}

.right-do {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

.disclaimer {
    font-style: italic;
}

.ol-mouse-position {
    top: 13px;
    right: 58px;
    position: absolute;
    color: white;
    background-color: rgba(253, 253, 253, 0.1);
    padding: 3px;
}

.ol-viewport .ol-unselectable {
    background-color: #3A4373;
}

html, body {
    background-color: #3A4373;
}

.container {
    padding: 0 25px;
    background-color: White;
}

/* tool bar */
div.ui-toolbar {
    background: #673BB5;
}

.toolbar-header {
    color: white;
    margin-bottom: 0;
}