/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.ol-mouse-position {
    top: 15px;
    right: 58px;
    position: absolute;
    color: white;
}

.ol-viewport .ol-unselectable {
    background-color: #3A4373;
}